body{
    background:#bbccff;
}
.share{}

.share .share_bg{
    position:absolute;
    top:0;
    left:0;
}

.share .share_bg img{
    width:100%;
}
.share .share_bd{
    position:relative;
    padding-top:1.69rem;
    text-align:center;
}

.share .share_bd .share_logo{}
.share .share_bd .share_logo img{
    width:16%;
}

.share .share_bd .share_name{
    padding-top:0.2rem;
    color:#FFFFFF;
    font-size:0.32rem;
}

.share .share_bd .share_dsc{
    margin:0.6rem 0;
}
.share .share_bd .share_dsc img{
    width:5.36rem;
}

.share .share_bd .share_info{
    margin:0 auto;
    width:6.18rem;
    height:6.58rem;
    background:url('../images/agentshare/share_info.png') no-repeat center;
    background-size:100%;
}

.share .share_bd .share_info .userinfo{
    padding:0.5rem 0;
    height:1rem;
}
.share .share_bd .share_info .userinfo .userinfo_avatar{
    position:relative;
    display:inline-block;
    padding-top:1rem;
    width:1rem;
}
.share .share_bd .share_info .userinfo .userinfo_avatar img{
    position:absolute;
    top:0;
    left:0;
    width:1rem;
    height:1rem;
    border-radius:50%;
}
.share .share_bd .share_info .userinfo .userinfo_info{
    position:relative;
    display:inline-block;
    padding-top:1rem;
    width:1.4rem;
}
.share .share_bd .share_info .userinfo .userinfo_info_bd{
    position:absolute;
    top:0;
    left:0;
    width:200%;
}
.share .share_bd .share_info .userinfo .userinfo_info .userinfo_name{
    text-align:left;
    color:#323232;
    font-size:0.32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.share .share_bd .share_info .userinfo .userinfo_info .userinfo_id{
    text-align:left;
    color:#969696;
    font-size:0.26rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share .share_bd .share_info .share_code{}
.share .share_bd .share_info .share_code .share_code_t{
    color:#323232;
    font-size:0.2rem;
}
.share .share_bd .share_info .share_code .share_code_bd{
    color:#323232;
    font-size:0.4rem;
}

.share .share_bd .share_info .share_line{
    margin:0.1rem auto;
    width:3.9rem;
    height:0.1rem;
}
.share .share_bd .share_info .share_line ul{}
.share .share_bd .share_info .share_line ul li{
    float:left;
    margin-left:0.1rem;
    width:0.1rem;
    height:0.1rem;
    background:#FF8F00;
}
.share .share_bd .share_info .share_line ul li:first-child{
    margin-left:0;
}
.share .share_bd .share_info .share_down{
    position:relative;
}
.share .share_bd .share_info .share_down .share_down_bd{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.share .share_bd .share_info .share_down .share_down_bd .share_down_bd_btn{
    margin:20% auto 0;
    width:3.8rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:#fff;
    font-size:0.3rem;
    border-radius:0.4rem;
    
    background: -webkit-linear-gradient(left, #73D3FF , #4088F3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #73D3FF, #4088F3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #73D3FF, #4088F3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #73D3FF , #4088F3); /* 标准的语法 */
}






















