.auth_bg{}
.auth_bg img{
    width:7.5rem;
    height:9.67rem;
}
.auth_i_btn{
    margin:0 auto;
    width:6.9rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:#fff;
    font-size:0.3rem;
    border-radius:0.4rem;
    background: -webkit-linear-gradient(left, #73D3FF , #4088F3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #73D3FF, #4088F3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #73D3FF, #4088F3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #73D3FF , #4088F3); /* 标准的语法 */
}
.auth_i_agrent{
    height:0.89rem;
    line-height:0.89rem;
    text-align:center;
    color:#646464;
    font-size:0.24rem;
}
.auth_i_agrent a{
    color:#4998F7;
}
.auth_i_agrent a:hover{
    color:#4998F7;
}
.switch{
    display:inline-block;
}
.switch input[type="checkbox"] {
    display: none;
}
.switch input[type="checkbox"] + label {
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
    position: relative;
}
.switch input[type="checkbox"] + label img {
    width: 0.24rem;
    height: 0.24rem;
}

.switch input[type="checkbox"] + label .checked_no {
    display:block;
}
.switch input[type="checkbox"] + label .checked_ok {
    display:none;
}

.switch input:checked + label {

}

.switch input:checked + label .checked_no {
    display:none;
}
.switch input:checked + label .checked_ok {
    display:block;
}

.auth_status{}
.auth_status .status_img{
    padding:0.40rem 0;
    text-align:center;
}
.auth_status .status_img img{
    width:4.4rem;
    height:3.73rem;
}
.auth_status .status_info{
    line-height:0.5rem;
    text-align:center;
}
.auth_status .status_info .status_info_t{
    color:#323232;
    font-size:0.32rem;
}
.auth_status .status_info .status_info_t.no{
    color:#F72332;
}
.auth_status .status_info .status_info_d{
    color:#646464;
    font-size:0.26rem;
}
.auth_status .autharea{
    margin:0.9rem auto;
    width:6.9rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:#fff;
    font-size:0.32rem;
    border-radius:0.4rem;
    background: -webkit-linear-gradient(left, #73D3FF , #4088F3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #73D3FF, #4088F3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #73D3FF, #4088F3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #73D3FF , #4088F3); /* 标准的语法 */
}
.auth_status .autharea a{
    display:block;
    color:#fff;
}

