body{
    background:#FAFAFA;
}
input::-webkit-input-placeholder {
/* WebKit browsers */
color: #969696;
}
input:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
color: #969696;
}
input::-moz-placeholder {
/* Mozilla Firefox 19+ */
color: #969696;
}
input:-ms-input-placeholder {
/* Internet Explorer 10+ */
color: #969696;
}

.auth_top{
    padding:0 0.29rem;
    /* height:0.6rem; */
    line-height:0.6rem;
    color:#fff;
    font-size:0.22rem;
    background:#4998F7;
}

.auth_list{
    padding:0 0.3rem;
    background:#fff;
}

.auth_list li{
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #F0F0F0;
	list-style: none;
	position: relative;
	margin: 0 auto;
}

.auth_list_title{
    position: absolute;
    top:0;
	left: 0;
    padding-left:0.07rem;
	width: 25%;
	height: 1rem;
	line-height: 1rem;
    color: #969696;
	font-size: 0.26rem;
    border-radius:0.4rem;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;	
}

.auth_list_right{
    position: absolute;
	right:0;
	width: 75%;
    height:1rem;
}

.auth_list_right input{
	width: 95%;
	height: 1rem;
	line-height: 1rem;
	-webkit-appearance:none;
	border: none;
	color: #323232;
	background: none;
	outline: none;
	font-size: 0.26rem;
    vertical-align:top;
}

.auth_list li.border_none{
	border: none;
}


.autharea{
	margin:0.9rem auto;
    width:6.9rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:#fff;
    font-size:0.32rem;
    border-radius:0.4rem;
    background: -webkit-linear-gradient(left, #73D3FF , #4088F3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #73D3FF, #4088F3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #73D3FF, #4088F3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #73D3FF , #4088F3); /* 标准的语法 */
}

.auth_no{
    color:rgba(255,255,255,0.5);
    background:rgba(255,255,255,0.1);
}

.line_bd_u{
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    background:#fff;
}

