body{
    background:#FAFAFA;
}



.auth_title{
    padding:0.25rem 0.3rem;
    /* height:1rem; */
    line-height:0.5rem;
    font-size:0.26rem;
    background:#fff;
}
.auth_title span{
    color:#969696;
    font-size:0.22rem;
}

.auth_level{
    margin-top:0.1rem;
    padding: 0 0.3rem;
    background:#fff;
}
.auth_level .auth_level_l{
    float:left;
    width:30%;
    line-height:1rem;
    font-size:0.26rem;
}
.auth_level .auth_level_r{
    float:right;
    padding-right:0.3rem;
    width:70%;
    text-align: right;
    font-size:0.26rem;
    background:url('../images/arrow_r.png') no-repeat right center;
    background-size:0.08rem 0.21rem;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
}
.auth_level .auth_level_r span{
    width: 4rem;
	line-height: 1rem;
    text-align:right;
	-webkit-appearance:none;
	border: none;
	color: #323232;
	background: none;
	outline: none;
	font-size: 0.26rem;
    vertical-align:top;
}
.auth_level .auth_level_r span.no{
    color:#C8C8C8;
}

.autharea{
	margin:0.9rem auto;
    width:6.9rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:#fff;
    font-size:0.32rem;
    border-radius:0.4rem;
    background: -webkit-linear-gradient(left, #73D3FF , #4088F3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #73D3FF, #4088F3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #73D3FF, #4088F3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #73D3FF , #4088F3); /* 标准的语法 */
}

.auth_no{
    color:rgba(255,255,255,0.5);
    background:rgba(255,255,255,0.1);
}

.line_bd_u{
    padding-bottom:0.3rem;
    background:#fff;
}
.upload{
    padding:0 0.3rem;
}
.upload li{
    float:left;
    position:relative;
    margin-left:0;
    width:6.9rem;
}

.upload li .up_img img{
    width:6.9rem;
    height:3.84rem;
    vertical-align:top;
}

.upload li .up_img .up_tips{
    position: absolute;
    top: 2.25rem;
    left: 1.06rem;
    width:4.78rem;
    line-height:0.3rem;
    color:#969696;
    font-size:0.22rem;
    text-align:center;
}

.ios-select-widget-box header.iosselect-header a.close{
    color:#969696;
    font-size:0.26rem;
}
.ios-select-widget-box header.iosselect-header a.sure{
    color:#4998F7;
    font-size:0.26rem;
}

.ios-select-widget-box ul li{
    color:#969696;
    font-size:0.26rem;
}
.ios-select-widget-box ul li.at{
    color:#323232;
    font-size:0.26rem;
}


